/*Global*/

/*Navigation*/


.navigation-logo img {
  width: 70px;
}

.navigation-list ul {
  list-style-type: none;

}
.navigation-list li {
  display: inline;
  margin:0 20px;
}
.list-item {
  float: right;
}
